@media screen and (max-width: 600px) {
  .animation1 p {
      }
    }

  /* Animationen divers */
    .einblenden {
      opacity:0;
      animation-name: einblenden;
    }

    .einblenden.isinview {
        opacity: 1;
        font-style: italic;

      }
    /* ------------------------ */
    .ausblenden {
      transition: all 0.5s linear;
      animation-name: ausblenden;
    }

    .ausblenden.isinview  {
      color: black;
      opacity: 0.75;
      text-shadow:  0.5px  0.5px 0.5px white,
                    0.5px -0.5px 0.5px white,
                    -0.5px  0.5px 0.5px white,
                    -0.5px -0.5px 0.5px white;

    }
/* ------------------------ */
    .verschieben.isinview  {
      position: relative;
      animation-name: verschieben;
      animation: 2s 2;
      animation-iteration-count: infinite;
    }

    @keyframes verschieben {
        0%   {left: 0px;}
        100% {left: 400px;}
      }
/* ------------------------ */




  /* Animation Nr.1 */
    .animation1 p{
      transition: all 5s ease;
      animation-iteration-count: infinite;
      line-height: auto;
      text-align: center;
      margin:0;
      padding: 0;
      color: white;
    }



    .animation1.isinview p:nth-child(1) { /* Jetzt */
      font-size: 8rem;
      transition: all 3s ease;
      animation: alternate infinite 4s;
    }

    .animation1.isinview p:nth-child(2) { /* ist */
      transition: all 3s linear;
    }

    .animation1.isinview p:nth-child(3) { /* es */
      font-size: 2rem;
    }

    .animation1.isinview p:nth-child(4) { /* gerade */
      transition: all 2s ease;
      letter-spacing: 2vw;
    }

    .animation1.isinview p:nth-child(5) { /* so, */
      font-size: 3rem;
    }

    .animation1:hover :nth-child(6) { /* dass */

    }

    .animation1.isinview p:nth-child(7) { /* alles */
      font-size: 4rem;
      letter-spacing: 10vw;
    }

    .animation1:hover :nth-child(8) { /* was */

    }

    .animation1.isinview p:nth-child(9) { /* ist, */
      transition: all 2s linear;
      text-transform: lowercase;
    }

    .animation1:hover :nth-child(10) { /* nicht */
    }

    .animation1.isinview p:nth-child(11) { /* ist, */
      transition: all 2s linear;
      text-transform: lowercase;
    }

    .animation1:hover :nth-child(12) { /* darum */

    }

    .animation1:hover :nth-child(13) { /* hat */
    }

    .animation1:hover :nth-child(14) { /* man */
    }

    .animation1:hover :nth-child(15) { /* selber */
    }

    .animation1:hover :nth-child(16) { /* wieder */

    }

    .animation1:hover :nth-child(17) { /* mehr */
    }

    .animation1.isinview p:nth-child(18) { /* Zeit */

      transition: 0.70s;
      transform: rotate(360deg);
      font-size: 5rem;
    }

    .animation1:hover :nth-child(19) { /* zum */
    }

    .animation1:hover :nth-child(20) { /* Sein. */
    }

  /* ------------------------ */




  /* Animation Nr.2 */
    .animation2.isinview. p{
      transition-delay: 5s;
      transition: all 3s ease;
      line-height: auto;
      text-align: center;
      margin:0;
      padding: 0;
      color: white;
    }


    .animation2.isinview p:nth-child(1) { /* Zeit */
      transform: rotate(360deg);
      font-size: 4rem;
    }

    .animation2:hover :nth-child(2) { /* wird */
    }

    .animation2:hover :nth-child(3) { /* ausgebremst, */
    }

    .animation2:hover :nth-child(4) { /* weil */

    }

    .animation2:hover :nth-child(5) { /* wenn */
    }

    .animation2.isinview p:nth-child(6) { /* nichts */
      opacity: 0.25;
    }

    .animation2.isinview p:nth-child(7) { /* ist, */
      transition: all 2s linear;
    }

    .animation2:hover :nth-child(8) { /* geht */

    }

    .animation2.isinview p:nth-child(9) { /* Zeit */
      transform: rotate(360deg);
      font-size: 5rem;
    }

    .animation2:hover :nth-child(10) { /* auch */

    }

    .animation2.isinview p:nth-child(11) { /* nicht */
      opacity: 0.25;
    }

    .animation2.isinview p:nth-child(12) { /* so */
      font-size: 2rem;
    }

    .animation2:hover :nth-child(13) { /* schnell */
    }

    .animation2:hover :nth-child(14) { /* vorbei. */

    }

  /* ------------------------ */




  /* Animation Nr.3 */
    .animation3 p{
      transition: all 3s ease;
      line-height: auto;
      text-align: center;
      margin:0;
      padding: 0;
      color: white;
    }


    .animation3:hover :nth-child(1) { /* Und */
    }

    .animation3.isinview p:nth-child(2) { /* keiner */
      opacity: 0.25;
    }

    .animation3:hover :nth-child(3) { /* kommt */

    }

    .animation3:hover :nth-child(4) { /* vorbei */

    }

    .animation3:hover :nth-child(5) { /* und */
    }

    .animation3.isinview p:nth-child(6) { /* keiner */
      opacity: 0.25;
    }

    .animation3:hover :nth-child(7) { /* lädt */

    }

    .animation3:hover :nth-child(8) { /* einem */

    }

    .animation3:hover :nth-child(9) { /* ein */
    }

    .animation3:hover :nth-child(10) { /* und */

    }

    .animation3.isinview p:nth-child(11) { /* nirgends */
      opacity: 0.25;
    }

    .animation3:hover :nth-child(12) { /* muss */

    }

    .animation3:hover :nth-child(13) { /* man */
    }

    .animation3:hover :nth-child(14) { /* hin, */

    }

    .animation1.isinview p:nth-child(15) { /* so */
      font-size: 2rem;
    }

    .animation3:hover :nth-child(16) { /* kanns */

    }

    .animation3:hover :nth-child(17) { /* öfters */
    }

    .animation3:hover :nth-child(18) { /* sein. */

    }

  /* ------------------------ */



    /* Animation Nr.4 */
      .animation4 p{
        transition: all 3s ease;
        line-height: auto;
        text-align: center;
        margin:0;
        padding: 0;
        color: white;
      }

      .animation4:hover :nth-child(1) { /* Und */
      }

      .animation4.isinview p:nth-child(2) { /* alles */
        font-size: 4rem;
        letter-spacing: 10vw;
      }

      .animation4:hover :nth-child(3) { /* was */

      }

      .animation4:hover :nth-child(4) { /* man */

      }

      .animation4:hover :nth-child(5) { /* meint */
      }

      .animation4:hover :nth-child(6) { /* man */

      }

      .animation4:hover :nth-child(7) { /* müsste, */

      }

      .animation4:hover :nth-child(8) { /* weil */


      }

      .animation4:hover :nth-child(9) { /* das */
      }

      .animation4:hover :nth-child(10) { /* Leben */

      }

      .animation4.isinview p:nth-child(11) { /* ohne */
        opacity: 0.25;
      }

      .animation4:hover :nth-child(12) { /* das */

      }

      .animation4.isinview p:nth-child(13) { /* nichts */
        opacity: 0.25;
      }

      .animation4:hover :nth-child(14) { /* wär, */

      }

      .animation4.isinview p:nth-child(15) { /* staunt */
        transition-timing-function: linear;
      }

      .animation4:hover :nth-child(16) { /* man, */

      }

      .animation4:hover :nth-child(17) { /* man */

      }

      .animation4:hover :nth-child(18) { /* muss */

      }

      .animation4:hover :nth-child(19) { /* gar */

      }

      .animation4.isinview p:nth-child(20) { /* nicht */
        opacity: 0.25;
      }

      .animation4:hover :nth-child(21) { /* und */

      }

      .animation4:hover :nth-child(22) { /* geht */

      }

      .animation4:hover :nth-child(23) { /* auch. */

      }


    /* ------------------------ */
