    body {
        background-color: black;
        margin:0;
        font-family: 'Hepta Slab', serif;
        font-size: 1.5rem;
        font-weight: 400;
        display: grid;
        align-items: center;
        justify-items: center;
    }


        p {
        font-size: 5vw;
        line-height: 3.5;
        }


    /* Header */
        img {
          width: 100%;
          display: block;
        }

        span {
          font-size: 3vw;
          position: sticky;
          margin-top: 45%;
        }

        .bild {
            max-width: 100%;
            height: auto;
        }

        .bild_beschriftung {
          position: relative;
        }

        .bild_beschriftung span {
        position: absolute;
        width: 100%;
        color: #fff;
        text-align: center;
        font-family: 'Hepta Slab';
        }
  /* ------------------------ */



/* Grid-Definition */
    .content {
        grid-area: content;
    }

    .grundraster{
      display: grid;
      grid-template-areas:
      "content";
      grid-template-columns: 1fr;
      min-height: 50vh;
    }

    .content {
      color: white;
      padding: 15px;
    }
/* ------------------------ */



/* Text Autorin */
  .autor p{
    font-size: 0.75rem;
    text-align: center;
    color: white;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .zeilenabstand p{
    line-height: 2;
  }
/* ------------------------ */
