    body {
        background-color: black;
        margin:0;
        font-family: 'Hepta Slab', serif;
        font-size: 1.5rem;
        display: grid;
        align-items: center;
        justify-items: center;
    }


        p {
        font-size: 4vw;
        }


    /* The hero image */
        img {
          width: 100%;
          display: block;
        }

        span {
          font-size: 2vw;
          position: sticky;
          margin-top: 38%;
        }

        .bild {
            max-width: 100%;
            height: auto;
        }

        .bild_beschriftung {
          position: relative;
        }

        .bild_beschriftung span {
        position: absolute;
        width: 100%;
        color: #fff;
        text-align: center;
        font-family: 'Hepta Slab';
        }
  /* ------------------------ */


/* Grid-Definition */
    .content {
        grid-area: content;
    }

    .grundraster{
        display: grid;
        grid-template-areas:
         "content";
         grid-template-columns: 1fr;
         min-height: 50vh;
      }

    .content {
      color: white;
      padding: 15px;
    }
/* ------------------------ */
